* {
  margin: 0;
  font-family: 'Press Start 2p'
}

.whole-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
}

.score-column {
  height: 100vh;
  width: 15vw;
  background-color: #3162D3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-display {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
}

.player-icon {
  height: 20vh;
  width: 10vw;
}

.score-contents {
  font-size: 1.3rem;
}

.button {
  background-color: #4E75CE;
  border: none;
  padding: 15px;
  color: white;
}

.button:hover {
  cursor:pointer;
  background-color: white;
  color: black;
}

.icon:hover {
  cursor:pointer;
}

.game-board {
  height: 100vh;
  width: 70vw;
  background-color: #294A96;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choose-game-mode-view {
  height: 100vh;
  width: 70vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.choose-game-section{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.choose-game-title {
  font-size: 5rem;
}

.under-title-text{
  font-size: 1.5rem;
  margin-top: 50px;
}

.game-title-button {
  padding:15px;
  font-size: 1.2rem;
}

.game-title-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.result-view {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  font-size: 3rem;
}

.result-choices {
  margin-top: 100px;
}

.result-icon {
  height: 30vh;
  width: 20vw;
}

.normal-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  justify-content: space-evenly;
}

.normal-icons-container {
  display:flex;
  width: 70vw;
  justify-content: space-evenly;
}

.normal-Water-icon {
  height: 30vh;
  width: 20vw;
}

.normal-Fire-icon {
  height: 30vh;
  width: 20vw;
}

.normal-Grass-icon {
  height: 30vh;
  width: 20vw;
}

.advanced-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advanced-icons-container {
  display:flex;
  flex-direction: column;
  width:70vw;
  align-items: center;
}

.advanced-icon-row {
  display:flex;
  width: 70vw;
  justify-content: space-evenly;
}

.advanced-Water-icon {
  height: 30vh;
  width: 20vw;
}

.advanced-Grass-icon {
  height: 30vh;
  width: 20vw;
}

.advanced-Fire-icon {
  height: 30vh;
  width: 20vw;
}

.Electric-icon {
  height: 30vh;
  width: 20vw;
}

.Ground-icon {
  height: 30vh;
  width: 20vw;
}

.hidden {
  display: none;
}
