* {
  margin: 0;
}

.whole-page-container {
  width: 100vw;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: row;
}

.score-column {
  height: 100vh;
  width: 15vw;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-token {
  font-size: 3em
}

.game-board {
  height: 100vh;
  width: 70vw;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.normal-rock-icon {
  height: 15vh;
  width: 20vw;
}

.normal-paper-icon {
  height: 20vh;
  width: 10vw;
}

.normal-scissors-icon {
  height: 15vh;
  width: 20vw;
}

.advanced-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advanced-icons-container {
  display:flex;
  flex-direction: column;
  width:70vw;
  align-items: center;
}
.advanced-icon-row {
  display:flex;
  width: 70vw;
  justify-content: space-evenly;
}

.advanced-rock-icon {
  height: 15vh;
  width: 20vw;
}

.advanced-scissors-icon {
  height: 15vh;
  width: 20vw;
}

.advanced-paper-icon {
  height: 20vh;
  width: 10vw;
}

.spock-icon {
  height: 15vh;
  width: 15vw;
}

.lizard-icon {
  height: 20vh;
  width: 10vw;
}

.icons-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.choose-game-mode-view {
  height: 100vh;
  width: 70vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.normal-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  justify-content: space-evenly;
}

.normal-icons-container {
  display:flex;
  width: 70vw;
  justify-content: space-evenly;
}

.rules-and-title {
  width:70vw;
  display:flex;
  flex-direction: column;
  height: 30vw;
  justify-content: space-evenly;
  align-items: center;
}

.choose-game-section{
  display:flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
