* {
  margin: 0;
}

.whole-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: white;
}

.score-column {
  height: 100vh;
  width: 15vw;
  background-color: #E47AEE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-display {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
  align-items: center;
}

.score-token {
  font-size: 3em
}

.score-contents {
  font-size: 1.3rem;
}

.button {
  background-color: #9407A1;
  border: none;
  padding: 15px;
  color: white;
}

.button:hover {
  cursor:pointer;
  background-color: white;
  color: black;
}

.icon:hover {
  cursor:pointer;
}

.game-board {
  height: 100vh;
  width: 70vw;
  background-color: #BF55C9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.choose-game-mode-view {
  height: 100vh;
  width: 70vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.choose-game-section{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.choose-game-title {
  font-size: 5rem;
}

.under-title-text{
  font-size: 1.5rem;
}

.game-title-button {
  padding:15px;
  font-size: 1.2rem;
}

.game-title-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.result-view {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  font-size: 3rem;
}

.result-choices {
  font-size: 1.8rem;
}

.normal-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  justify-content: space-evenly;
}

.normal-icons-container {
  display:flex;
  width: 70vw;
  justify-content: space-evenly;
}

.normal-rock-icon {
  height: 15vh;
  width: 20vw;
}

.normal-paper-icon {
  height: 20vh;
  width: 10vw;
}

.normal-scissors-icon {
  height: 15vh;
  width: 20vw;
}

.advanced-game-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advanced-icons-container {
  display:flex;
  flex-direction: column;
  width:70vw;
  align-items: center;
}

.advanced-icon-row {
  display:flex;
  width: 70vw;
  justify-content: space-evenly;
}

.advanced-rock-icon {
  height: 15vh;
  width: 20vw;
}

.advanced-scissors-icon {
  height: 15vh;
  width: 20vw;
}

.advanced-paper-icon {
  height: 20vh;
  width: 10vw;
}

.spock-icon {
  height: 15vh;
  width: 15vw;
}

.lizard-icon {
  height: 20vh;
  width: 10vw;
}

.hidden {
  display: none;
}
